/*=========================================MAIN=========================================*/
.header{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    

    &__inner{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 82px;
        padding-bottom: 10px;

        
        @media (max-width: 768px) {
            padding-top: 50px;
        }

        @media only screen and (max-width: 576px) {
            padding-top: 40px;
        }
    }

    &__data{
        font-family: 'Roboto';
        color: #ED2024;
        padding: 22px 24px;
        font-weight: 700;
        font-size: 33px;
        line-height: 1.2;
        background-color: white;
        border-radius: 60px;
        margin-right: 45px;
        transition: all .3s;

        &:hover{
            opacity: 0.9;
        }

        @media (max-width: 1240px) {
            font-size: 24px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 920px) {
            font-size: 18px;
            margin-right: 25px;
            padding: 18px 20px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__logos{
        width: 547px;
        display: flex;
        align-items: flex-start;
        flex: 1 1 0%;
        margin-right: 20px;

        @media only screen and (max-width: 768px) {
            margin-right: 130px;
        }

        @media only screen and (max-width: 576px) {
            margin-right: 30px;
        }

        &-link{
            &:nth-child(2) {
                margin-left: 40px;

                @media only screen and (max-width: 576px) {
                    margin-left: 10px;
                }
            }
            &:nth-child(3) {
                margin-left: 40px;

                @media only screen and (max-width: 576px) {
                    margin-left: 10px;
                }
            }
            outline: none;
        }
    }

    &__right{
        display: flex;
        align-items: center;
    }

    &__buttons{
        display: flex;
        align-items: flex-start;

        &-btn{
            background-color: #004E85;
            border-radius: 60px;
            font-family: 'Roboto';
            margin-right: 46px;
            transition: .3s all;
            outline: none;
            cursor: unset;
            
            &:hover{
                background-color: #013e69;
            }

            @media only screen and (max-width: 1024px) {
                margin-right: 10px;
            }

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

.top-btn{
    display: none;
    margin-right: 0;
    font-size: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 330px;
    margin-top: 48px;

    @media only screen and (max-width: 576px) {
        display: block;
        max-width: 100%;
        order: 3;
    }

    @media only screen and (min-width: 280px) and (max-width: 576px) {
        font-size: 24px;
    }
}

.header-container{
    position: relative;
}
/*======================================================================================*/


/*=========================================MENU=========================================*/

/*======================================================================================*/


/*========================================CONTENT=======================================*/

/*======================================================================================*/